<%- include('layout/top') %>

<% if (!deviceViews.length) { %>
    <h3>No devices found</h3>
<% } %>

<% for (const dv of deviceViews) { %>
    <div class="row">
        <h5>
            <%= dv.name %>
        </h5>
        <p>Last seen:  <span data-did="<%= dv.id %>" id="<%= dv.id %>-last-seen"><%= dv.lastSeen %></span></p>
        <div class="grid text-left">
            <% for (const v of dv.views) { %>
                <div class="g-col-6">
                    <%- v %>
                </div>
                <% } %>
        </div>
    </div>
<% } %>

<script src="<%= asset('js/index.js'); %>"></script>
<%- include('layout/bottom') %>