<div id="<%= featureId(id) %>_container">
    <button data-role="action" data-control-type="button" data-did="<%= did %>" data-fid="<%= id %>" class="btn btn-primary" id="<%= featureId(id); %>"><%= name %></button>
</div>